<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu_item.description %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @menu_item.unit_price %>
</p>

<p>
  <strong>Position:</strong>
  <%= @menu_item.position %>
</p>

<p>
  <strong>Category:</strong>
  <%= @menu_item.category.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @menu_item.photo.variant(resize: "200x200") %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
